@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
body {
	/*background-color: #FDFDF9;*/
	background-color: #f5f5dc;
}

.tutorial {
	margin: 0 20px 6px 20px;
	max-width: 745px;
}

h1{
	top: 0px;
	left: 0px;
	right: 0px;
	padding-left: 10px;
	/*margin-bottom: 30px;*/
	background-color: orange;
	color: white;
	font-family: 'Noto Sans JP', sans-serif;
}

div.balloonL p {
	margin-top: 0px;
}

.atama{
  flex-shrink: 0;
	
	width: auto;
  height: 150px;
	display: flex;
	align-items: center;
  flex-shrink: 0;
}
div.hontai {
	/*width: 80%;*/
	margin: 30px auto 30px auto;
	padding-top: 20px;
	padding-bottom: 20px;
	max-width: 785px;
	background-color: white;
	border-radius:20px;
	border-style:dashed;
	border-color:#3cb371;
}
div.list {
	max-width: 701px;
	background: #fffde8;
	color:#660000	;
  box-shadow: 0px 0px 0px 10px #fffde8;/*線の外側*/
  border: dashed 2px #ffb03f;/*破線*/
  border-radius: 9px;
  margin-left: 20px;/*はみ出ないように調整*/
  margin-right: 20px;/*はみ出ないように調整*/
  padding: 0.5em 0.5em 0.5em 2em;
}
div.list p {
	margin-top: 0px;
}

/*#startButton {
	appearance: none;
  border: 0;
  border-radius: 5px;
  background: orange	;
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
}
#startButton:hover {
	appearance: none;
  border: 0;
  border-radius: 5px;
  background: orangered;
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
}

#stopButton {
	appearance: none;
  border: 0;
  border-radius: 5px;
  background: orange	;
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
}

#stopButton:hover {
	appearance: none;
  border: 0;
  border-radius: 5px;
  background: orangered;
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
}*/

/* === ボタンを表示するエリア ============================== */
.sample1Area {
  position       : relative;            /* 親要素が基点       */
  margin         : left;                /* 中央寄せ           */
  width          : 160px;               /* ボタンの横幅       */
  height         : 50px;                /* ボタンの高さ       */
	margin				 : 0 0 0 20px;
}
 
 /* === ラジオボタン ======================================== */
.sample1Area input[type="radio"] {
  display        : none;            /* チェックボックス非表示 */
}
 
 /* === ラジオボタンのラベル（標準） ======================== */
.sample1Area label {
  display        : block;               /* ボックス要素に変更 */
  position       : absolute;            /* 親要素からの相対位置*/
  top            : 0;                   /* 標準表示位置(上)   */
  bottom         : 0;                   /* 標準表示位置(下)   */
  left           : 0;                   /* 標準表示位置(左)   */
  right          : 0;                   /* 標準表示位置(右)   */
  text-align     : center;              /* 文字位置は中央     */
  line-height    : 50px;                /* 1行の高さ(中央寄せ)*/
  font-size      : 18pt;                /* 文字サイズ         */
  font-weight    : bold;                /* 太字               */
  border         : 2px solid #ccc;      /* 枠線(一旦四方向)   */
}
 
 /* === ON側のラジオボタンのラベル（標準） ================== */
.sample1Area #startButton+ label {
  right          : 50%;                 /* 右端を中央に変更   */
  border-radius  : 6px 0 0 6px;         /* 角丸(左側の上下)   */
  background     : #eee;                /* 背景               */
  color          : #666;                /* 文字色             */
  border-right   : none;                /* 枠線の右側を消す   */
}
 
 /* === ON側のラジオボタンのラベル（ONのとき） ============== */
.sample1Area  #startButton:checked +label {
                                        /* 背景グラデーション */
  background     : orange;
  color          : #fff;                /* 文字色             */
  //text-shadow    : 1px 1px 1px #333;    /* 文字に影を付ける   */
}
 
 /* === OFF側のラジオボタンのラベル（標準） ================ */
.sample1Area #stopButton + label {
  left           : 50%;                 /* 左端を中央に変更   */
  border-radius  : 0 6px 6px 0;         /* 角丸(右側の上下)   */
  background     : #eee;                /* 背景               */
  color          : #666;                /* 文字色             */
  border-left    : none;                /* 枠線の左側を消す   */
}
 
 /* === OFF側のラジオボタンのラベル（OFFのとき） ============= */
.sample1Area #stopButton:checked +label {
                                        /* 背景グラデーション */
  background     :#999;
  color          : #fff;                /* 文字色             */
  text-shadow    : 1px 1px 1px #333;    /* 文字に影を付ける   */
}

.balloon{
  display: flex;
  margin: 0 0 1.5em 0;
}
.balloonL{
	/*margin-right: 20px;
	/*padding-right: 20px;*/
}
.balloonR{
  flex-direction: row-reverse;
	/*margin-right: 20px;
	/*padding-right: 20px;*/
}
.balloon-img{
  width: auto;
  height: 60px;
	display: flex;
	align-items: center;
  flex-shrink: 0;
}


.balloon-text{
  padding: 1em;
  border-radius: 6px;
  position: relative;
  display: flex;
}
.balloon-text-inner{
	color:#660000	;
  margin: auto;
}
.balloon-text::before,.balloon-text::after{
  content: '';
  position: absolute;
  top: 19px;
  font-size: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.balloonL .balloon-text{
  margin: 0 0 0 15px;
  background: white;
	border: solid;
	border-color: orange;
	font-family: 'Noto Sans JP', sans-serif;

}
.balloonR .balloon-text{
  margin: 0 15px 0;
  background: #ffc966;
	font-family: 'Noto Sans JP', sans-serif;
}
.balloonL .balloon-text::before{
  left: -16px;
	border-right: 16px solid orange;

}
.balloonL .balloon-text::after{
  left: -14px
	border-right: 14px solid white;
}
.balloonR .balloon-text::before{
  right: -16px;
  border-left: 16px solid #ffc966;
}


p.api {
	color:#660000	;
	margin: 0 0 0 20px;
	word-break: break-all;
}

#resultOutput
{
	/*width: 100%;*/
	margin:0 20px;
  /*margin-left: 20px;/*はみ出ないように調整*/
  /*margin-right: 20px;/*はみ出ないように調整*/
  max-width: 745px;
	
}



