h1{
	top: 0px;
	left: 0px;
	right: 0px;
	background-color: orange;
	color: white;
	
}

div.list {
	background: #fffde8;
	color:#660000	;
  box-shadow: 0px 0px 0px 10px #fffde8;/*線の外側*/
  border: dashed 2px #ffb03f;/*破線*/
  border-radius: 9px;
  margin-left: 10px;/*はみ出ないように調整*/
  margin-right: 10px;/*はみ出ないように調整*/
  padding: 0.5em 0.5em 0.5em 2em;
}
div.list p {
	margin-top: 0px;
}

/*#startButton {
	appearance: none;
  border: 0;
  border-radius: 5px;
  background: orange	;
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
}

#stopButton {
	appearance: none;
  border: 0;
  border-radius: 5px;
  background: orange	;
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
}*/

p.api {
	color:#660000	;
	word-break: break-all;
}



