h1{
	top: 0px;
	left: 0px;
	right: 0px;
	background-color: orange;
	color: white;
	
}

div.list {
	background: #fffde8;
	color:#660000	;
  box-shadow: 0px 0px 0px 10px #fffde8;/*線の外側*/
  border: dashed 2px #ffb03f;/*破線*/
  border-radius: 9px;
  margin-left: 10px;/*はみ出ないように調整*/
  margin-right: 10px;/*はみ出ないように調整*/
  padding: 0.5em 0.5em 0.5em 2em;
}
div.list p {
	margin-top: 0px;
}

/*#startButton {
	appearance: none;
  border: 0;
  border-radius: 5px;
  background: orange	;
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
}
#startButton:hover {
	appearance: none;
  border: 0;
  border-radius: 5px;
  background: orangered;
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
}

#stopButton {
	appearance: none;
  border: 0;
  border-radius: 5px;
  background: orange	;
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
}

#stopButton:hover {
	appearance: none;
  border: 0;
  border-radius: 5px;
  background: orangered;
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
}*/

/* === ボタンを表示するエリア ============================== */
.sample1Area {
  position       : relative;            /* 親要素が基点       */
  margin         : left;                /* 中央寄せ           */
  width          : 160px;               /* ボタンの横幅       */
  height         : 60px;                /* ボタンの高さ       */
}
 
 /* === ラジオボタン ======================================== */
.sample1Area input[type="radio"] {
  display        : none;            /* チェックボックス非表示 */
}
 
 /* === ラジオボタンのラベル（標準） ======================== */
.sample1Area label {
  display        : block;               /* ボックス要素に変更 */
  position       : absolute;            /* 親要素からの相対位置*/
  top            : 0;                   /* 標準表示位置(上)   */
  bottom         : 0;                   /* 標準表示位置(下)   */
  left           : 0;                   /* 標準表示位置(左)   */
  right          : 0;                   /* 標準表示位置(右)   */
  text-align     : center;              /* 文字位置は中央     */
  line-height    : 60px;                /* 1行の高さ(中央寄せ)*/
  font-size      : 18pt;                /* 文字サイズ         */
  font-weight    : bold;                /* 太字               */
  border         : 2px solid #ccc;      /* 枠線(一旦四方向)   */
}
 
 /* === ON側のラジオボタンのラベル（標準） ================== */
.sample1Area #startButton+ label {
  right          : 50%;                 /* 右端を中央に変更   */
  border-radius  : 6px 0 0 6px;         /* 角丸(左側の上下)   */
  background     : #eee;                /* 背景               */
  color          : #666;                /* 文字色             */
  border-right   : none;                /* 枠線の右側を消す   */
}
 
 /* === ON側のラジオボタンのラベル（ONのとき） ============== */
.sample1Area  #startButton:checked +label {
                                        /* 背景グラデーション */
  background     : linear-gradient(180deg, #00b359, #006633, #00b359);
  color          : #fff;                /* 文字色             */
  text-shadow    : 1px 1px 1px #333;    /* 文字に影を付ける   */
}
 
 /* === OFF側のラジオボタンのラベル（標準） ================ */
.sample1Area #stopButton + label {
  left           : 50%;                 /* 左端を中央に変更   */
  border-radius  : 0 6px 6px 0;         /* 角丸(右側の上下)   */
  background     : #eee;                /* 背景               */
  color          : #666;                /* 文字色             */
  border-left    : none;                /* 枠線の左側を消す   */
}
 
 /* === OFF側のラジオボタンのラベル（OFFのとき） ============= */
.sample1Area #stopButton:checked +label {
                                        /* 背景グラデーション */
  background     :#999;
  color          : #fff;                /* 文字色             */
  text-shadow    : 1px 1px 1px #333;    /* 文字に影を付ける   */
}


p.api {
	color:#660000	;
	word-break: break-all;
}



